
<div class="dialogs-item  {{#if isSelected }}dialogs-item__selected {{/if}}" id="{{id}}">
    <div class="dialogs-item__left">
        <img class="dialogs-item__ava" src="{{ ava }}" alt="photo">
        <div>
            <p class="bold">{{ name }}</p>
            {{#if message}}
                <p class="second">Вы: {{ message.content }}</p>
            {{else}}
                <p class="user-message">{{ message.content }}</p>
            {{/if}}
        </div>

    </div>

    <div>

        <p class="dialogs-item__time">{{ time }}</p>
        {{#if newMessage}}
            <p class="dialogs-item__new">{{ newMessage }}</p>
        {{else}}
            <p></p>
        {{/if}}

    </div>
</div>
