<div class="profile-main">
<!--    <div class="profile-main__img">-->

<!--        <img name="avatar" src="{{profileImg}}" alt="">-->
<!--    </div>-->
    {{{ ProfileAvatar avatarImg=avatarImg  onClick=uploadAvatar }}}
    {{{ Input idInput="avatar-input" ref=inputAvatarRef accept="image/*" onChange=uploadAvatar name="avatar" type="file" }}}
    <p class="user-name">{{profileName}}</p>

    <div class="profile-data">
        <!--        ${profileItems.map(item => (`-->
        <!--        <div class="profile-data__row" id="profile-data">-->
        <!--            <label class="bold">${item.first}</label>-->
        <!--            <p class="second">${item.second}</p>-->
        <!--        </div>-->
        <!--        <hr>`-->
        <!--        )).join('')}-->
        {{#each fields}}
            {{{ProfileItem
                    first=this.first
                    second=this.second
                    ref=this.ref
                    class=this.class
            }}}
<!--            <hr>-->
        {{/each}}
<!--        <div class="profile-data__row profile-data__last">-->
<!--            <p class="bold">Телефон</p>-->
<!--            <p class="second">+7 (909) 967 30 30</p>-->

<!--        </div>-->
    </div>


    <div class="profile-main__buttons">

<!--        <button>-->
<!--            <a href="/change">-->
<!--                Изменить данные-->
<!--            </a>-->
<!--                -->
<!--        </button>-->
        {{{Link
                onClick=this.onClickChange
                label="Изменить данные"
                type="button"
                to="/settings"
        }}}
        <hr>
        {{{Link
                onClick=this.onClickChange
                label="Изменить пароль"
                type="button"
                to="/pass-settings"
        }}}
        <hr>

        {{{Button
                onClick=logout
                label="Выйти"
                class="profile-main__buttons-exit"
                type="button"
        }}}
    </div>
</div>
