<div class="chat-main">
    <div class="chat-main__user">
        <div>
            <img src="{{avatarImg}}" alt="avatar">
            <p class="user__name">{{selectedChatName}}</p>
        </div>
        <div>
            <div class='chat-main__user-modal'>
                <!--            <div class="chat__wrap-download">-->
                {{{ Input class="invisible" idInput="avatar_chat" accept="image/*" onChange=addAvatar name="avatar_chat" type="file" }}}
                <label for="avatar_chat">Изменить аватар</label>
                <!--            </div>-->
                {{{Button type="button" onClick=openPopup label="список юзеров"}}}
                {{{Button type="button" onClick=closeChat label="закрыть чат"}}}
            </div>
            <img class="chat-main__img" src="{{pointsIcon}}" alt="">
        </div>

    </div>
    <hr>

<!--    <p class="chat-main__time">19 июня</p>-->
{{#if selectedChat }}
    <div class="chat-messages">
        {{#each messages }}
            {{{ Message content=this.content isMine=this.isMine }}}

<!--            <div class="chat-messages__text" >{{this.content}}</div>-->
        {{/each}}
<!--        <div class="chat-messages__text">-->
<!--            <p>-->
<!--                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.-->
<!--                <br>-->
<!--                <br>-->
<!--                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.-->
<!--            </p>-->
<!--            <span class="chat-messages__time">11:56</span>-->
<!--        </div>-->
<!--        <img class="camera" src="{{camera}}" alt="photo">-->
<!--        <div class="chat-messages__photo">-->

<!--            <span class="chat-messages__text-photo">11:56</span>-->
<!--        </div>-->


    </div>
{{else}}
    Выбирете чат
{{/if}}
<!--    <div class="chat-my">-->
<!--        <p class="chat-my__text">-->
<!--            Круто!-->
<!--        </p>-->
<!--        <img src="{{sawIcon}}" alt="">-->
<!--        <p class="chat-my__time">12:00</p>-->

<!--    </div>-->


    <footer class="chat-footer">
        <hr class="chat-footer__hr">
        <div class="chat-footer__wrapper">
            <img src="{{addIcon}}" alt="">
            {{{Input onChange=onChange}}}
<!--            <input name="message" placeholder="Сообщение" type="text">-->
<!--            {{#Button onClick=click}}-->
<!--                <img src="{{sandIcon}}" alt="">-->
<!--            {{/Button}}-->
            {{{Button label="Отправить" onClick=sendMessage}}}

        </div>
    </footer>
</div>
