<!--<span class="registration-form__items" onfocusout="{{ onFocusOut }}">-->
<!--    <label for="password">{{label}}</label>-->
<!--    <input name="{{name}}" type="text">-->
<!--</span>-->
<span class="registration-form__items">
    <label for="{{name}}">{{label}}</label>
    <input name="{{name}}" type="text" value="{{ fieldValue }}" required>
    {{#if req}}
        <span>
            {{error}}
        </span>
    {{/if}}
</span>

